<md-sidenav-container>
  <md-sidenav #sidenav mode="side" opened="false">
    <table>
      <tr>
        <td>
          <md-icon id="leftnav" (click)="sidenav.toggle()" (click)="changeShowStatus()">menu</md-icon>
        </td>

      </tr>
    </table>

    <div class="left-side-content">
      <p class="filter">Filtering</p>

      <div>
        <input class="form-field-full-width" mdInput placeholder="First Name" [(ngModel)]="firstName" value="">
      </div>
      <div>
        <input class="form-field-full-width" mdInput placeholder="Last Name" [(ngModel)]="lastName" value="">
      </div>
      <div class="form-field-full-width">
        <md-radio-group [(ngModel)]="gender" >
          <md-radio-button value="female">Female</md-radio-button>
          <md-radio-button value="male">Male</md-radio-button>
        </md-radio-group>
      </div>
      <div>
        <input class="form-field-full-width" mdInput placeholder="State" [(ngModel)]="state" value="">
      </div>
    </div>
  </md-sidenav>
  <table>
    <tr>
      <td>
        <md-icon *ngIf="showHide" (click)="sidenav.toggle()" (click)="changeShowStatus()">menu</md-icon>
      </td>
    </tr>
  </table>
  <div class="right-side-content">
    <md-grid-list class="grid-list" cols="4">
      <md-grid-tile class="grid-tile" *ngFor="let client of clients | clientFilter: firstName:lastName:gender:state " [colspan]="1" [rowspan]="1" [style.background]="lightblue">
        <div class="client-card">

          <div class="client-card-title capitalize">{{client.name.first}} {{client.name.last}}</div>

          <img class="client-image" (click)="goDetails(client)" src="{{client.picture.large}}" alt="Photo of a {{client.name.first}} {{client.name.last}}">
          <p class="client-card-content capitalize">{{client.location.state}} - {{client.nat}} </p>

          <div class="client-card-actions">
            <a md-raised-button (click)="goDetails(client)">Details</a>
          </div>
        </div>

      </md-grid-tile>
    </md-grid-list>
  </div>
</md-sidenav-container>